body {
    padding: 0;
    margin: 0;
    background-color: aquamarine;
    position: relative;
    font-size: 18px;
}
.tables {
    width: 90%;
    margin: 0 auto;
}
#main-table {
    height: 50%;
}
#archive-table {
    margin-top: 20px;
    display: none;
}
#archive-table.active {
    display: block;
}
#controls {
    margin-top: 25px;
}
.table-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}
.categories>* {
    text-align: center;
    width: 200px;
    
}
.table-item>* {
    overflow-x: hidden;
    text-align: center;
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.categories {
    background-color: #c3c3c3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.table-item>:last-child {
    overflow-x: visible;
}
.table-item>:last-child button, .main-controls-block button {
    font-size: 25px;
    border: none;
    outline: none;
    cursor: pointer;
}
.controls button{
    margin: 0 2px;
}
#formContainer {
    display: none;
    width:100vw;
    justify-content: space-between;
    position: fixed;
    bottom:0
}
#formContainer.active {
    display: flex;
    pointer-events: none;
}
.form{
    visibility: hidden;
    pointer-events: none;
}
.form.active{
    pointer-events: all;
    visibility: visible;
}
#formContainer form{
    display: flex;
    flex-direction: column;
    
}
#formContainer form > * {
    font-size: 1.25rem;
}
#formContainer textarea{
    resize: none;
}

